.heroSection {
  background-image: url(../../assects/header/bit.png);
  background-size: cover;
  background-position: fixed;
  display: flex;
  align-items: center;
  padding: 100px 0;
  width: 100%;
}
.heroContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headding {
  margin-top: 1rem;
}
.headding h3 {
  font-size: 67px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: 1px;
  color: black;
}
.headding p {
  font-size: 27px;
  line-height: 40px;
}
.headding p span {
  font-size: 30px;
  font-weight: 700;
}
.headding button {
  padding: 14px 40px;
  background-color: #5d45dc;
  border-radius: 40px;
  color: white;
  border: none;
  font-weight: 700;
  font-size: 15px;
}
.btnMain {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.button {
  border: 1px solid #5d45dc;
  padding: 10px 10px;
  background-color: white;
}
.button a img {
  width: 25px;
  height: 25px;
}
.button a {
  color: #5d45dc;
  font-weight: 700;
}

@media (max-width: 635px) {
  .heroSection {
    padding: 50px 0;
    justify-content: center;
  }
  .headding button {
    display: none;
  }
  .headding p {
    font-size: 20px;
    line-height: 30px;
  }
  .headding p span {
    font-size: 20px;
    line-height: 27px;
  }
  .headding h3 {
    font-size: 50px;
    line-height: 50px;
  }
  .headding br {
    display: none;
  }
}
